.encabezado{
    display: flex;
    justify-content: space-between;
}

.menu{
    display: flex;
    justify-content: space-between;
}

.menu p a{
    text-decoration: none;
    margin: 32px;
}

.suscripcion{
    border: 1px solid black;
}

.encabezado img{
    height: 50px;
}

.articulos img{
    height: 400px;
}